<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/member.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
      crossorigin="anonymous"
    ></script>
<script>
      // const socket = io();


      // const enter = () => {
      //   let data = document.getElementById("name").value;
      //   socket.emit("enter_list", data);
      // };

      // socket.on("enter", (data) => {
      //   if (data.num < 3){
      //       window.location.href = '/index';
      //       console.log(data.num);
      //       socket.emit("user_name",data.id);
      //   }
      // });


</script>
<body>
    <div id="wait" class="container-fluid" >
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div id="chatHeader">지하철 게임</div>
            <div class=anoterMsg>1호선에 해당하는 역을 순서에 맞게 입력하시면 됩니다</div>
            <form name ="a" action="#">
              <input
                type="text"
                name="id"
                class="form-control mb-3"
                id="name"
                placeholder="이름을 입력하시오"
                autocomplete="off"
              />
            </form>
              <button value="ready" onclick="checkvalue()">
                ready
              </button>
              
            <div id="myid"></div>
          </div>
          <div class="col-2">
          </div>
    </div>
    </div>

    <div id="index" class="d-none">
      <div class="row">
        <div class="col-8">
      <div id="chatWrap">
          <div id="chatHeader">지하철 게임</div>
          <div id="chatLog">
            <ul id="messages_1" type="none">
              <li id="username"></li>
            <ul id="messages" type="none">
              <li id="usercount"></li>
          </ul>  
          <div id=anoterMsg>
              
            <div id="msg"></div>
        </div>
      </div>
          <div id="chatForm">  
            <form action="#">
              <input
                type="text"
                class="form-control mb-3 disabled"
                id="message"
                placeholder="역입력하기"
                autocomplete="off"
              />
            </form>
            <button id="submit" class="btn btn-primary mb-3 disabled" onclick="submit()">
              submit
              </button>
            </div>
          </div>
        </div>
          <div class="col-4">
      <div id="memberWrap">
        <div id="memberList">
            <div id="memberHeader">접속중인사람</div>
            <div id="memberSelect">
            </div>
        </div>
    </div>  
    <div id="img" style="display:none" >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRul4PtUjrtAfjGp4nN4JzMEzQuOed_SuJtZg&usqp=CAU"> 
      <ul id="countdownbtn" type="none">
        <li id="usercount123"></li>
    </ul>
    </div>
  </div>
      </div>
  </div>


    <div id="result" class="d-none">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
          <ul id="messages_3" type="none">
            <li id="user_1"></li>
          <ul id="messages_4" type="none">
            <li id="user_2"></li>
        </ul>
        <ul id="messages_5" type="none">
          <li id="user_3"></li>
      </ul>
      <button value="reset" onclick="recheckvalue()">
        계속하기
      </button>
      <a href="/"><button value="exit" onclick="ex()">
        종료하기
      </button></a>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
</body>
<script>
          let html = "";  
          let turn =0;
          const list_data=[]; //1호선w중복체크
          const socket = io();
          const name=[]; //닉네임
          var nickname;  //name 에푸쉬할려교
          let turn_num =0;
          const score = [];
 
          const fieldset1 = document.getElementById('wait');
          const fieldset2 = document.getElementById('index');
          const fieldset3 = document.getElementById('result');
          const fieldset_1 = document.getElementById('message');
          const fieldset_2 = document.getElementById('submit');
      function checkvalue() {
        if(a.id.value ==0) {
            alert("이름을 입력하고 Ready 버튼을 누르세요"); 
          } else {
           alert("입장");
           let data = a.id.value;
           socket.emit("enter_list", data);
           name.push(data);
           fieldset1.className = "d-none";
           fieldset2.className = "container-fluid"
          }
        }   
        function recheckvalue() {
           socket.emit("re_enter",name[0]);
           fieldset3.className = "d-none";
           fieldset2.className = "container-fluid"
           fieldset_1.value="";
           const result_1 = document.getElementById('user_1');
           result_1.innerText='';
           const msgclear = document.getElementById('msg');
           msgclear.innerText='';
           let mem = document.getElementById("memberSelect");
          mem.innerText ='';
          document.getElementById("img").style.display="none"; 
          list_data.length=0;
        }   
        socket.on("enter_re" , (data) => {
          console.log(data.num);
          console.log(data.num_2)
          if(data.num%3==0){
            socket.emit("member",data.id);
            socket.emit("alarm",data);
            socket.emit("start",data.id);
          }

        })
        //들어올때
      socket.on("enter", (data) => {
        socket.emit("member",data.id);
        if (data.num < 3){
          
            var username = document.getElementById('username');
            username.innerText = `곧 시작합니다 잠시만 기다려주세요`

        }
        else if (data.num ==3){
            var username = document.getElementById('username');
            username.innerText = `곧 시작합니다 잠시만 기다려주세요`;
            socket.emit("alarm",data);
            socket.emit("start",data.id);
        }
        else{
          var username = document.getElementById('username');
            username.innerText = `게임이 진행중입니다 관전하세요`
            
        }
      });
      socket.on("alarm_start", (data) =>{
        alert("시작합니다. 사진이 보이시면 본인 턴입니다.")
        var username = document.getElementById('username');
            username.innerText = `1호선 역명을 입력해주세요`;
      })
      socket.on("member_list",(data) =>{
      if(name.indexOf(data)>-1){
          let mem = document.getElementById("memberSelect");
        mem.innerText += `내 아이디: ${data}\n`;
        }
        else{
          let mem = document.getElementById("memberSelect");
        mem.innerText += `닉네임:${data}\n`;
        }
      });
      //진행중에 껏을때
      socket.on("start_turn",(data)=>{
        
        socket.on("error",(exit) => {
            alert(`${exit}님이 나가셨습니다.`); 
        fieldset2.className = "d-none";
        fieldset3.className = "container-fluid"
        console.log(data);
        socket.emit("score_exit",exit);
        
        
      });
    
        if(name.indexOf(data)>-1 ){
          console.log(name.indexOf(data));
          document.getElementById("img").style.display="block";   
          fieldset_1.className = "form-control mb-3";
          fieldset_2.className = "btn btn-primary mb-3";
          socket.emit("countdownbtn",data);
          socket.on("countdown",(count) => {
            var username = document.getElementById('usercount123');
            username.innerText = `${count.number}초남음`;
          });
        }

      });
      
       
      const word = [
      "탕정","신창","대방","회기","신길","봉명","녹천","쌍용","온양온천","노량진","영등포","외대앞","신이문","석계","광운대","월계","창동","신도림","용산","배방","구로","가산디지털단지","금천구청","석수","안양","명학","군포","성균관대","화서","수원","독산","세류","오산대","오산","진위","송탄","남영","금정","서정리","평택","성환","직산","광명","오류동","역곡","부천","송내","부평","동암","동인천","소사","간석","관악","주안","구일","부개","도원","온수","도화","아산","당정","방학","도봉","망월사","회룡","의정부","의왕","병점","두정","서동탄","제물포","양주","덕계","덕정","지행","동두천중앙","동두천","세마","평택지제","개봉","백운","도봉산","소요산","가능","녹양","보산","서울역","시청","종각","종로3가","종로5가","동대문","신설동","제기동","청량리","동묘앞",
    ];
      // 메시지 입력할때 
      socket.on("msg",  (data) => {

        
        if (word.indexOf(data.message) > -1) {         
        if (list_data.indexOf(data.message)>-1) { 
          alert(`중복단어입니다 따라서 ${data.id}님이 패배하셨습니다`); 
          fieldset2.className = "d-none";
          fieldset3.className = "container-fluid"
          socket.emit("countdownstopbtn",(data.id));
          socket.emit("score_list",data.id);
          } 
       else{
        let log = document.getElementById("msg");
        let ptag = document.createElement("p");
        let node = document.createTextNode(
          `${data.id}:${data.message}`
        );
        ptag.appendChild(node);
        log.appendChild(ptag);
        list_data.push(data.message);
        turn_num ++; //랜덤골라서 숫자 돌렸는데 이게 독립적이다보니까 처음랜덤 다음에 그게 다시나올수도있음
        console.log(data.id, "에서 보낸 메시지 : ", data.message);
        fieldset_1.className = "form-control mb-3 disabled";
        fieldset_2.className = "btn btn-primary mb-3 disabled";
        document.getElementById("img").style.display="none"; 
        socket.emit("countdownstopbtn",(data.id));
        socket.emit("next_turn",data.id,turn_num);
        
       }}
       else
       {
        alert(`${data.id}님이 틀렸습니다.`); 
        fieldset2.className = "d-none";
        fieldset3.className = "container-fluid"
        socket.emit("countdownstopbtn",(data.id));
        socket.emit("score_list",data.id);

       }
      });
      socket.on("count_exit",(data) => {
        alert(`시간초과 따라서 ${data}님이 패배하셨습니다`); 
        fieldset2.className = "d-none";
        fieldset3.className = "container-fluid"
        socket.emit("score_list",data);

      })
      socket.on("result",(user) => {
        for(let i in user) {
        score.push(user[i].nickname,user[i].point);
      }
      var picked = score.slice(-6);
      let log = document.getElementById("user_1");
        let ptag = document.createElement("p");
        let node = document.createTextNode(
          picked
        );
        console.log(score);
        ptag.appendChild(node);
        log.appendChild(ptag);
      });
      socket.on("result_exit", (user) => {

      })
      
      const submit = () => {
        let data = document.getElementById("message").value;
        socket.emit("input", data);
      };
</script>