<!doctype html>
<html lang="en">
  <head><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RDCM2F77Z4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-RDCM2F77Z4');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>내 프로필</title>
  <style>
    p { border : 3px solid pink; 
        margin: 30px auto;
        width: 75%;
        justify-content: center;
        border-style : solid;}
    body{
      font-family: 'Times New Roman', Times, serif;
      font-weight: 900;
    }      
    #wrap{
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        padding-top:30px;
      }
    #wrap_2{
        width: 75%;
        margin: 0 auto;
        overflow: hidden;
        padding-top:30px;
      }
      div > article{
        float: left;
        margin-left: 30px;
        margin-bottom: 30px;
      }
      .btn_pro{
        margin: 5px 20px;
        color:black;
        background-color: lightgrey;
        border-radius: 30px;
        display: block;
        padding: 20px 30px;
        text-decoration: none;
      }
      .recommand{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .place{
width: 50%;
display: inline-block;
justify-content: center;
position: relative;
      }
      .recipe{
        width: 50%;   
      display: inline-block;
      position: relative;
      }
      .more{
        width: 130px;
        height: 50px;
        margin: 5px 300px;
        color:black;
        background-color: lightgrey;
        border-radius: 10px;
        padding: 20px 30px;
        text-decoration: none;
        position: relative;
      }
      .rec_place{
        margin : 40px 30px;

      }
      .rec_recipe{
        margin : 40px 30px;
      }
    </style>
  </head>
  <body>
<div id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="./interest">우리집은 미슐랭 3스타</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./mainplace">맛집</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./mainrecipe">레시피</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./info">공지사항</a>
            </li>
          </ul>
          <form class="d-flex">
            <a href="./profile" >
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MTJfMTM3%2FMDAxNjU1MDI1Mjc1MzU3.OVYKwTpbFBOJReYnuQozRpBrDPFf12f0o7qzDcOB4jkg.zFniiigVs2n9VHeyglPDcO5sJ7PX5uSHP3gvc5FoN9Mg.PNG.kimgomram%2Fimage.png&type=a340" class="img-thumbnail" width="100px" height="120px">
            </a>
            <input class= "form-control search_input" id="searchInput" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" onclick="search_click()" type="button">SEARCH</button>
            <button class="btn btn-outline-success" onclick="location.href='/api/users/logout'" type="button" >LOGOUT</button>
          </form>
        </div>
      </div>
    </nav>
</div>

<br/>
   <div class="container">
        
    <p>   <div class="row " id="wrap_2">
            
          <div class="col-sm-3" >
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MTJfMTM3%2FMDAxNjU1MDI1Mjc1MzU3.OVYKwTpbFBOJReYnuQozRpBrDPFf12f0o7qzDcOB4jkg.zFniiigVs2n9VHeyglPDcO5sJ7PX5uSHP3gvc5FoN9Mg.PNG.kimgomram%2Fimage.png&type=a340" class="img-thumbnail" width="70" height="70">
            
          </div>
          <div class="col-sm-9" >
            <div class="row">
              <div class="col-4 col-sm-4" id="name">
                닉네임
              </div>
              <div class="col-4 col-sm-4" id="grade">
                등급
              </div>
              <div class="col-4 col-sm-4">
                <a href="/edit"><button class="btn btn-outline-success" type="submit" >프로필 편집</button></a>
              </div>
            </div>
            <div id="oneline" class="col">
                여기에 한줄 소개
              </div>
                <div class="row">
                  <div class="col-4 col-sm-4" id="cnt_place">
                    총 맛집 리뷰:
                  </div>
                  <div class="col-4 col-sm-4" id="cnt_review">
                    총 레시피 수:
                  </div>
                  <div class="col-4 col-sm-4" id="cnt_follower">
                    팔로워수:
                  </div>
                </div>
          </div>
        
   
      </div> </p>
   </div>
      <div id="wrap">
        <article>
        <a href="/my_place">
            <img  src="https://www.theguru.co.kr/data/photos/20220938/art_16638231633316_58220b.jpg" width="400px" height="400px" >
          </a><figcaption>내가 작성한 맛집 리뷰</figcaption>
            </article>
            <a href="/my_recipe">
            <article><img  src="https://recipe1.ezmember.co.kr/cache/recipe/2020/11/04/aaff8585ff2df76623e2c2e45b2ad26f1.jpg" width="400px" height="400px">
            </a><figcaption>내가 작성한 레시피</figcaption></article>

            <article>
              <a href="/bookmark" >
              <img  src="https://cdn.icon-icons.com/icons2/2717/PNG/512/bookmarks_icon_174004.png" width="400px" height="400px"  class="img-thumbnail"></a>
            <figcaption>북마크</figcaption></article>

            <article>
                <a href="/follower" >
                <img  src="https://www.pngkit.com/png/detail/351-3514765_png-file-follow-icon-png-white.png" width="400px" height="400px" class="img-thumbnail"></a>
            <figcaption>팔로워</figcaption></article>
</div>


<script>
      let s_data = []
  let name_arr = []
  //검색 데이터
  fetch("/api/users/search")
  .then((response) => response.json())
  .then(arr => {
  console.log("성공공", arr)
  s_data = arr
  arr.forEach(el => {
    name_arr.push(el.name)
  });
  console.log(name_arr)
  $("#searchInput").autocomplete({  //오토 컴플릿트 시작
    
    source: name_arr,	// source는 data.js파일 내부의 List 배열
    focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
      return false;
    },
    minLength: 1,// 최소 글자수
    delay: 100,	//autocomplete 딜레이 시간(ms)
    //disabled: true, //자동완성 기능 끄기
    select: function(event,ui){ //close 이벤트에 form submit을 추가 해줍니다.
      console.log(arr)
      arr.forEach(el => {
        if (el.name === ui.item.value) {
        console.log(el.type)
        console.log(el.key)
          if (el.type == "p") {
            place_name(el.name)
          }
          else{
            recipe_key(el.foodT, el.name)
          }
        }
      });
    }
  });


  });



  function search_click(){
    let a = document.getElementById('searchInput').value
      if (a === "") {
        alert("검색어를 입력하세요!")
      }
      else if(name_arr.includes(a)){
        s_data.forEach(el => {
          if (el.name === a) {
            console.log(el.type)
            console.log(el.key)
              if (el.type == "p") {
                place_name(el.name)
              }
              else{
                recipe_key(el.foodT, el.name)
              }
            }
            
          });
      }
      else{
        alert("존재하지 않는 데이터입니다!")
      }

  }

  function recipe_key(r_type,r_key){
  console.log(r_key);
  let data2 = { "r_key": r_key, };
    fetch('/recipe_review_detail', {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data2),
      })
      .then((response) => response.json())
      .then((data2) => {
        console.log('성공:', data2.r_key);
        window.location.href="/recipe_review_detail?r_type="+r_type+"&?r_key="+r_key
      })
      .catch((error) => {
        console.log('실패:', error);
    });

  }

  function place_name(p_name){
    console.log(p_name);
    let data3 = { "p_name": p_name, };
      fetch('/place_review_all', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data3),
        })
        .then((response) => response.json())
        .then((data3) => {
          console.log('성공:', data3.p_name);
          window.location.href="/place_review_all?p_name="+data3.p_name
        })
        .catch((error) => {
          console.log('실패:', error);
      });
    
    }



  const token = {"token":""};
  const jwt = sessionStorage.getItem("token")
        if (jwt == "") {
          location.href="/"
          alert("로그인 시간을 초과했습니다. 재로그인 하세요.")
        }

        const id = parseJwt(jwt)

        let data = { "id": id };
        fetch('/profile', {
                method: 'POST', 
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
              })
              .then((response) => response.json())
              .then((data) => {
                console.log('성공:', data);
                let name = data[1];
                let oneline = data[2];
                document.getElementById('name').innerHTML = name+" 님"//현재 로그인된 사용자 표시
      document.getElementById('oneline').innerHTML = "한줄 소개: "+oneline;
      document.getElementById('grade').innerHTML = "등급: "+data[3];
      document.getElementById('cnt_place').innerHTML = "총 맛집 리뷰: "+data[4];
      document.getElementById('cnt_review').innerHTML = "총 레시피 수: "+data[5];
      document.getElementById('cnt_follower').innerHTML = "팔로워 수: "+data[6];

              })
              .catch((error) => {
                console.log('실패:', error);
            });

  
  
  //JWT 복호화 후 id만 리턴
  function parseJwt (token) {
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));

      return JSON.parse(jsonPayload).id;
  };


</script>

  </body>
</html>